* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #eef2f5;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    background: #ffffff;
}

.logo {
    font-weight: bold;
    color: #ff5c35;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.nav-btn {
    background: #ff5c35;
    color: #fff;
    border: none;
    padding: 10px 16px;
    cursor: pointer;
    border-radius: 4px;
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 60px;
}

.hero-text {
    max-width: 500px;
}

.tagline {
    color: #ff5c35;
    font-size: 12px;
    letter-spacing: 1px;
}

.hero-text h1 {
    font-size: 42px;
    margin: 20px 0;
    color: #1f2b3a;
}

.hero-text h1 span {
    color: #1f2b3a;
    font-weight: bold;
}

.hero-text p {
    color: #555;
    margin-bottom: 30px;
    line-height: 1.6;
}

.buttons button {
    padding: 12px 22px;
    margin-right: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.primary-btn {
    background: #ff5c35;
    color: #fff;
    border: none;
}

.secondary-btn {
    background: transparent;
    border: 1px solid #ccc;
    color: #333;
}

/* Image */
.hero-image img {
    width: 380px;
}
button {
    transition: 0.3s ease;
}

/* Navbar Button Hover */
.nav-btn:hover {
    background-color: #e14a28;
}

/* Learn More Button Hover */
.primary-btn:hover {
    background-color: #e14a28;
}

/* Hire Me Button Hover */
.secondary-btn:hover {
    background-color: #ff5c35;
    color: #fff;
    border: 1px solid #ff5c35;
}